.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem;
}
.container > *{
    max-width: 25rem;
    max-width: 40rem;
}
img{
    border-radius: 3rem;
    flex: 1 0;
    object-fit: cover;
    height: 30rem;
    margin: 1rem;
}
.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    border-radius: 3rem;
    padding: 2rem;
    color: black;
    margin-left: 1rem;
}
.details .header{

    display: flex;
    justify-content: space-between;
}
.details .name{
  font-size: 2rem;
  font-weight: bold;
}

.details .favorit{
    color: rgb(255, 115, 0);;
    font-size: 2.5rem;
  }

.details .favorit.not{
    color: gray;
  }

  
.details .origin{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
  }

  
.details .origin > span{
    padding: .5rem;
    font-size: 1.2rem;
    margin: .5rem .5rem .5rem 0 ;
    border-radius: 2rem;
    background-color: gray;
    color: white; 
  }